language: php

php:
    - 5.3
    - 5.4
    - 5.5
    - 5.6
    - hhvm

matrix:
    allow_failures:
        - php: 5.6
        - php: hhvm

before_script:
    - composer install

script: phpunit --coverage-text

notifications:
    email:
        - travis@knplabs.com
